<header class="bg-gray-800 text-white p-4 shadow-md relative z-50">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold cursor-pointer" onclick="window.location.href='http://localhost:4200'">eUprava</h1>
    <nav class="flex items-center space-x-3">
      <a routerLink="/register" class="px-3 font-semibold hover:text-gray-200" *ngIf="!isLoggedIn()">Register</a>
      <a href="/login" class="px-3 font-semibold hover:text-gray-200">Login</a>

      <a routerLink="/medical-record" class="px-3 font-semibold hover:text-gray-200" *ngIf="isLoggedIn()">Medical
        Record</a>
      <a routerLink="/requests" class="px-3 font-semibold hover:text-gray-200" *ngIf="isLoggedIn()">Examination
        requests</a>
    </nav>

    <div class="flex items-center space-x-3" *ngIf="isLoggedIn()">
      <a href="/profile" class="hover:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5.121 17.804A10 10 0 0112 14a10 10 0 016.879 3.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </a>
      <button (click)="logout()"
        class="px-3 py-1 bg-gray-800 hover:bg-gray-700 rounded text-white font-semibold transition">
        Logout
      </button>
    </div>
  </div>
</header>