<div class="flex items-center justify-center min-h-screen px-4">
  <div class="bg-white rounded-2xl shadow-lg w-full max-w-7xl p-20"> 
    <h2 class="text-3xl font-bold text-teal-700 text-center mb-8">Login</h2>

    <form (ngSubmit)="loginWithEmail()" class="flex flex-col space-y-6 max-w-3xl mx-auto">
      <div>
        <label class="block mb-2 text-gray-700 font-semibold text-base">Email</label>
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="example@mail.com"
          class="w-full p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-teal-500 text-base"
          required
        />
      </div>

      <div>
        <label class="block mb-2 text-gray-700 font-semibold text-base">Password</label>
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Password"
          class="w-full p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-teal-500 text-base"
          required
        />
      </div>

      <button
        type="submit"
        [disabled]="loading"
        class="w-full bg-teal-600 text-white font-semibold py-2 rounded-xl hover:bg-teal-700 transition text-lg"
      >
        {{ loading ? "Logging in..." : "Login" }}
      </button>
    </form>

    <div class="text-center my-8 text-gray-500 font-medium">or</div>

    <button
      (click)="loginWithFirebase()"
      [disabled]="loading"
      class="w-full max-w-3xl mx-auto bg-yellow-500 text-white font-semibold py-2 p-20 rounded-xl hover:bg-yellow-600 transition text-lg"
    >
      Continue with Google
    </button>

    <p *ngIf="error" class="text-red-500 text-sm mt-4 text-center">{{ error }}</p>
  </div>
</div>
