<div class="flex flex-col items-center justify-center min-h-screen bg-teal-50">
  <div class="bg-white p-6 rounded-2xl shadow-md w-96 text-center">
    <h3 class="text-2xl font-semibold text-teal-700 mb-6">Create Request</h3>

    <div class="mb-4 text-left">
    <label class="block mb-1 text-teal-700 font-medium">Doctor</label>
    <select #doctorSelect required
            class="w-full border border-teal-400 rounded px-3 py-2 text-black invalid:text-gray-400">
        <option value="" disabled selected hidden>-- Select Doctor --</option>
        <option *ngFor="let doctor of doctors" [value]="doctor.id" class="text-black">
        {{ doctor.name }} {{ doctor.lastName }}
        </option>
    </select>
    </div>

    <div class="mb-4 text-left">
    <label class="block mb-1 text-teal-700 font-medium">Type</label>
    <select #typeSelect required
            class="w-full border border-teal-400 rounded px-3 py-2 text-black invalid:text-gray-400 focus:outline-none focus:ring-2 focus:ring-green-500">
        <option value="" disabled selected hidden>-- Select Type --</option>
        <option value="REGULAR" class="text-black">Regular</option>
        <option value="SPECIALIST" class="text-black">Specialist</option>
        <option value="URGENT" class="text-black">Urgent</option>
    </select>
    </div>

    <button class="w-full bg-green-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-green-700 transition"
            (click)="submitRequestFromSelect(doctorSelect.value, typeSelect.value)">
      Submit Request
    </button>
  </div>
</div>
